<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/spring-security">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Learn Katakana | Kitsuno</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Poppins:ital,wght@0,100;0,400;0,500;0,600;1,400;1,500;1,600&family=Quicksand:wght@300..700&display=swap"
              rel="stylesheet">

        <link rel="stylesheet" href="css/styles.css">

    </head>
    <body>
        <nav class="navbar">
            <div class="logo">
                <a href="/">
                    <img src="images/navbar/logo.png" alt="Logo">
                </a>
            </div>
            <ul class="nav-links">
                <li><a href="/vocabulary"><img src="images/navbar/vocabulary_icon.png" alt="Vocabulary Icon">
                    <span>Vocabulary</span></a>
                </li>
                <li><a href="/hiragana"><img src="images/navbar/hiragana_icon.png" alt="Hiragana Icon">
                    <span>Hiragana</span></a></li>
                <li class="active"><a href="/katakana"><img src="images/navbar/katakana_icon.png" alt="Katakana Icon">
                    <span>Katakana</span></a></li>
                <li><a href="/kanji"><img src="images/navbar/kanji_icon.png" alt="Kanji Icon"> <span>Kanji</span></a>
                </li>
                <li><a href="/flashcards"><img src="images/navbar/flashcard_icon.png" alt="Flashcards Icon">
                    <span>Flashcards</span></a></li>
                <li><a href="/resources"><img src="images/navbar/resources_icon.png" alt="Resources Icon">
                    <span>Resources</span></a></li>
            </ul>
            <div class="user-section">
                <a href="#" class="user-link">
                    <h6 sec:authorize="isAuthenticated()">Hi <span sec:authentication="name">!</span></h6>
                    <h6 sec:authorize="!isAuthenticated()">Hi Guest!</h6>
                    <img src="images/navbar/user_icon.png" alt="User Icon" class="user-icon">
                </a>
                <ul class="user-dropdown">
                    <li sec:authorize="!isAuthenticated()">
                        <a href="/login"><img src="images/navbar/login.png" alt="Login Icon"> Login</a>
                    </li>
                    <li sec:authorize="!isAuthenticated()">
                        <a href="/register"><img src="images/navbar/register.png" alt="Register Icon"> Register</a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a href="/profile"><img src="images/navbar/profile.png" alt="Profile Icon"> Profile</a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a href="/logout"><img src="images/navbar/logout.png" alt="Logout Icon"> Logout</a>
                    </li>
                    <li>
                        <a href="/v1/api-docs"><img src="images/navbar/api.png" alt="Api-Docs Icon"> ApiDocs</a>
                    </li>
                </ul>
            </div>
        </nav>

        <nav class="bottom-navbar">
            <ul class="nav-links">
                <li><a href="/vocabulary"><img src="images/navbar/vocabulary_icon.png" alt="Vocabulary Icon">
                    <span>Vocabulary</span></a>
                </li>
                <li><a href="/hiragana"><img src="images/navbar/hiragana_icon.png" alt="Hiragana Icon">
                    <span>Hiragana</span></a></li>
                <li class="active"><a href="/katakana"><img src="images/navbar/katakana_icon.png" alt="Katakana Icon">
                    <span>Katakana</span></a></li>
                <li><a href="/kanji"><img src="images/navbar/kanji_icon.png" alt="Kanji Icon"> <span>Kanji</span></a>
                </li>
                <li><a href="/flashcards"><img src="images/navbar/flashcard_icon.png" alt="Flashcards Icon">
                    <span>Flashcards</span></a></li>
                <li><a href="/resources"><img src="images/navbar/resources_icon.png" alt="Resources Icon">
                    <span>Resources</span></a></li>
            </ul>
        </nav>

        <div id="main-section">
            <h1 class="kana-h1">Chart</h1>
            <div class="grid-container">
                <div th:each="katakana : ${katakanaList}">
                    <div>
                        <button class="kana-button"
                                th:if="${katakana.romaji != null}"
                                th:title="${katakana.character}"
                                th:attr="onclick=|showInfo('${katakana.character}', '${katakana.romaji}', '${katakana.audio}', '${#strings.escapeJavaScript(katakana.story)}', '${katakana.mnemonic}', '${katakana.strokeOrder}')|">
                            <span th:text="${katakana.character}"></span>
                            <span class="romaji" th:text="${katakana.romaji}"></span>
                        </button>
                    </div>
                    <div th:if="${katakana.romaji == null}" class="empty"></div>
                </div>
            </div>

            <h1 class="kana-h1">Dakuten and Handakuten</h1>
            <p class="kana-p">Just like Hiragana, Katakana characters can be modified with Dakuten (゛) and Handakuten
                (゜)
                marks to create additional sounds. For example, "カ" (ka) becomes "ガ" (ga) with a Dakuten, and "ハ" (ha)
                becomes "パ" (pa) with a Handakuten. These modifications allow for voiced and semi-voiced sounds in words
                borrowed from other languages, expanding the range of Katakana’s use. By understanding these
                transformations, you'll be better equipped to read and write loanwords and names in Japanese.</p>
            <img src="images/kana/katakana_dakuten.png" alt="Katakana Dakuten" class="chart">

            <h1 class="kana-h1">Yōon</h1>
            <p class="kana-p">Yōon in Katakana follows the same principle as in Hiragana. A smaller "ャ" (ya), "ュ" (yu),
                or "ョ" (yo) is combined with a character to create blended sounds like "キャ" (kya) or "シュ" (shu).
                This is especially common in representing sounds from foreign languages that are not native to Japanese.
                Yōon combinations are crucial for accurately representing these sounds, making it important to grasp
                their
                use when reading and writing in Katakana.</p>
            <img src="images/kana/katakana_yoon.png" alt="Katakana Yoon" class="chart">
        </div>

        <script src="js/script.js"></script>
    </body>
</html>