<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/spring-security">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login to Your Account | Kitsuno</title>

        <link rel="icon" href="/images/favicon/favicon-32x32.png" sizes="32x32" type="image/png">
        <link rel="icon" href="/images/favicon/favicon-64x64.png" sizes="64x64" type="image/png">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Poppins:ital,wght@0,100;0,400;0,500;0,600;1,400;1,500;1,600&family=Quicksand:wght@300..700&display=swap"
              rel="stylesheet">

        <link rel="stylesheet" href="css/styles.css">

    </head>
    <body>
        <nav class="navbar">
            <div class="logo">
                <a href="/">
                    <img src="images/navbar/logo.png" alt="Logo">
                </a>
            </div>
            <ul class="nav-links">
                <li><a href="/vocabulary"><img src="images/navbar/vocabulary_icon.png" alt="Vocabulary Icon">
                    <span>Vocabulary</span></a>
                </li>
                <li><a href="/hiragana"><img src="images/navbar/hiragana_icon.png" alt="Hiragana Icon">
                    <span>Hiragana</span></a></li>
                <li><a href="/katakana"><img src="images/navbar/katakana_icon.png" alt="Katakana Icon">
                    <span>Katakana</span></a></li>
                <li><a href="/kanji"><img src="images/navbar/kanji_icon.png" alt="Kanji Icon"> <span>Kanji</span></a>
                </li>
                <li><a href="/flashcards"><img src="images/navbar/flashcard_icon.png" alt="Flashcards Icon">
                    <span>Flashcards</span></a></li>
                <li><a href="/resources"><img src="images/navbar/resources_icon.png" alt="Resources Icon">
                    <span>Resources</span></a></li>
            </ul>
            <div class="user-section">
                <a href="#" class="user-link">
                    <h6 sec:authorize="isAuthenticated()">Hi <span sec:authentication="name">!</span></h6>
                    <h6 sec:authorize="!isAuthenticated()">Hi Guest!</h6>
                    <img src="images/navbar/user_icon.png" alt="User Icon" class="user-icon">
                </a>
                <ul class="user-dropdown">
                    <li sec:authorize="!isAuthenticated()">
                        <a href="/login"><img src="images/navbar/login.png" alt="Login Icon"> Login</a>
                    </li>
                    <li sec:authorize="!isAuthenticated()">
                        <a href="/register"><img src="images/navbar/register.png" alt="Register Icon"> Register</a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a href="/profile"><img src="images/navbar/profile.png" alt="Profile Icon"> Profile</a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a href="/logout"><img src="images/navbar/logout.png" alt="Logout Icon"> Logout</a>
                    </li>
                    <li>
                        <a href="/v1/api-docs"><img src="images/navbar/api.png" alt="Api-Docs Icon"> ApiDocs</a>
                    </li>
                </ul>
            </div>
        </nav>

        <nav class="bottom-navbar">
            <ul class="nav-links">
                <li><a href="/vocabulary"><img src="images/navbar/vocabulary_icon.png" alt="Vocabulary Icon">
                    <span>Vocabulary</span></a>
                </li>
                <li><a href="/hiragana"><img src="images/navbar/hiragana_icon.png" alt="Hiragana Icon">
                    <span>Hiragana</span></a></li>
                <li><a href="/katakana"><img src="images/navbar/katakana_icon.png" alt="Katakana Icon">
                    <span>Katakana</span></a></li>
                <li><a href="/kanji"><img src="images/navbar/kanji_icon.png" alt="Kanji Icon"> <span>Kanji</span></a>
                </li>
                <li><a href="/flashcards"><img src="images/navbar/flashcard_icon.png" alt="Flashcards Icon">
                    <span>Flashcards</span></a></li>
                <li><a href="/resources"><img src="images/navbar/resources_icon.png" alt="Resources Icon">
                    <span>Resources</span></a></li>
            </ul>
        </nav>

        <div id="form-section">
            <div id="login-form" class="form-container">
                <h2>Login</h2>
                <div th:if="${param.logout}" class="green">
                    <p>You have successfully logged out</p>
                </div>
                <form th:action="@{/login}" method="post">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    <div class="input-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" required/>
                    </div>
                    <div class="input-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" required/>
                    </div>
                    <div th:if="${param.error}" class="error">
                        <p>Username or Password is invalid</p>
                    </div>
                    <button type="submit" class="submit">Login</button>
                </form>
                <p>Don't have an account? <a href="/register">Sign Up here</a></p>
                <p><a href="/resend-verification">Resend</a> the verification email</p>
            </div>
        </div>

        <script src="js/script.js"></script>
    </body>
</html>
