<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="refresh" content="5;url=/login">
        <title>Redirecting...</title>

        <link rel="icon" href="/images/favicon/favicon-32x32.png" sizes="32x32" type="image/png">
        <link rel="icon" href="/images/favicon/favicon-64x64.png" sizes="64x64" type="image/png">

        <link rel="stylesheet" href="css/styles.css">

    </head>
    <body>
        <div class="verify-container">
            <h1 class="verify-h" th:text="${message}"></h1>
            <p class="verify-p">You’ll be redirected in 5 seconds, if not
                <a class="verify-a" href="/login">click here</a>.</p><br>
            <img src="images/gif/loading.gif" alt="Loading Gif">
        </div>
    </body>
</html>