<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Learn Kanji, Kana, and Vocabulary words with Kitsuno</title>

        <link rel="icon" href="/images/favicon/favicon-32x32.png" sizes="32x32" type="image/png">
        <link rel="icon" href="/images/favicon/favicon-64x64.png" sizes="64x64" type="image/png">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Poppins:ital,wght@0,100;0,400;0,500;0,600;1,400;1,500;1,600&family=Quicksand:wght@300..700&display=swap"
              rel="stylesheet">

        <link rel="stylesheet" href="css/welcome.css">

    </head>
    <body>
        <nav class="navbar">
            <div class="logo">
                <a href="/">
                    <img src="images/welcome/logo.png" alt="Logo">
                </a>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Explore <span>▼</span></button>
                <div class="dropdown-content">
                    <a href="/vocabulary">Vocabulary</a>
                    <a href="/hiragana">Hiragana</a>
                    <a href="/katakana">Katakana</a>
                    <a href="/kanji">Kanji</a>
                    <a href="/flashcards">Flashcards</a>
                    <a href="/resources">Resources</a>
                </div>
            </div>
        </nav>

        <section>
            <div class="welcome">
                <div class="welcome-content">
                    <img src="images/welcome/kitsuno.png" alt="Kitsune" class="kitsune-image">
                    <h1>Learn Japanese with <br> Kitsuno</h1>
                    <div class="welcome-buttons">
                        <a href="/register" class="get-started">Get Started</a>
                        <a href="/login" class="already-have-account">I Already Have an Account</a>
                    </div>
                    <a>
                        <img src="images/welcome/arrow.png" alt="Down Arrow" class="arrow-down">
                    </a>
                </div>
            </div>
            <div id="target"></div>
        </section>

        <section id="text-section">
            <h1>How Will Kitsuno Enhance Your Learning?</h1>
            <div class="grid">
                <div class="row">
                    <img src="images/welcome/main1.png" alt="Vocabulary Image" class="row-image">
                    <div class="row-text">
                        <h3>Expand your vocabulary</h3>
                        <p>Broaden your Japanese vocabulary with Kitsuno. Master essential words, phrases, and
                            kanji-based terms to enhance your language proficiency and deepen your understanding
                            of Japanese.</p>
                        <br>
                       <a class="learn-more" href="/vocabulary">Learn More</a>
                    </div>
                </div>
                <div class="row">
                    <div class="row-text">
                        <h3>Master kana and kanji</h3>
                        <p>Build a strong foundation in Japanese by mastering hiragana, katakana, and kanji. Kitsuno
                            will guide you through the essentials of reading and writing, helping you practice
                            stroke order, character recognition and usage.</p>
                        <br>
                        <a class="learn-more" href="/kanji">Learn More</a>
                    </div>
                    <img src="images/welcome/main2.png" alt="Kana Image" class="row-image">
                </div>
                <div class="row">
                    <img src="images/welcome/main3.png" alt="Flashcards Image" class="row-image">
                    <div class="row-text">
                        <h3>Create your own flashcards</h3>
                        <p>Boost your kanji learning by creating personalized flashcards. Tailor your study materials
                            with specific kanji characters you want to focus on. Regularly review and test yourself to
                            enhance memory retention and master both the meaning and readings of each kanji!</p>
                        <br>
                        <a class="learn-more" href="/flashcards">Learn More</a>
                    </div>
                </div>
            </div>
        </section>

        <section id="card-section">
            <h1>Embrace the Joy of Learning Japanese!</h1>
            <div class="card-container">
                <div class="card">
                    <img src="images/welcome/card1.png" alt="Card 1" class="card-image">
                    <div class="card-text">
                        <h3>Self-Paced Learning</h3>
                        <p>Progress through each step of your Japanese journey at a comfortable pace.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="images/welcome/card2.png" alt="Card 1" class="card-image">
                    <div class="card-text">
                        <h3>Practice Made Fun</h3>
                        <p>Enjoy kana practice games, kanji flashcards, and explore new vocabulary words
                            to enhance your learning.</p>

                    </div>
                </div>
                <div class="card">
                    <img src="images/welcome/card3.png" alt="Card 1" class="card-image">
                    <div class="card-text">
                        <h3>Completely Free</h3>
                        <p>Enjoy all learning resources without any cost, making language learning accessible to
                            everyone.</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="faq-section">
            <h1>FAQ</h1>
            <div class="faq-item">
                <img src="images/welcome/faq.png" alt="Q Icon" class="faq-icon">
                <div class="faq-content">
                    <h3>Is it okay for beginners?</h3>
                    <p>Absolutely! Kitsuno starts from the basics, so no prior knowledge is needed. It’s perfect
                        for anyone new to the japanese language.</p>
                </div>
            </div>
            <div class="faq-item">
                <img src="images/welcome/faq.png" alt="Q Icon" class="faq-icon">
                <div class="faq-content">
                    <h3>What will I learn on this platform?</h3>
                    <p>Kitsuno focuses on three key areas of Japanese learning: kana, kanji, and essential
                        vocabulary. You’ll learn how to read and write both kana systems, understand and recognize
                        kanji, and build a solid foundation of commonly used words.</p>
                </div>
            </div>
            <div class="faq-item">
                <img src="images/welcome/faq.png" alt="Q Icon" class="faq-icon">
                <div class="faq-content">
                    <h3>How does the flashcard system work?</h3>
                    <p>Our flashcard system is centered on helping you master kanji efficiently. You can create your own
                        flashcards by adding your own words or notes to kanji characters to help your learning.</p>
                </div>
            </div>
            <div class="faq-item">
                <img src="images/welcome/faq.png" alt="Q Icon" class="faq-icon">
                <div class="faq-content">
                    <h3>What does Kitsuno API cover?</h3>
                    <p>Kitsuno API provides endpoints for working with Hiragana, Katakana, and Kanji characters,
                        as well as managing flashcards to support and personalize your learning experiecne.
                        To access the API, you’ll need to register and obtain an API key from your profile page.</p>
                </div>
            </div>
            <div class="faq-item">
                <img src="images/welcome/faq.png" alt="Q Icon" class="faq-icon">
                <div class="faq-content">
                    <h3>Is there any cost to use the platform?</h3>
                    <p>No, Kitsuno is entirely free to use. All the content, resources, and practice tools are
                        accessible without any subscription fees or hidden costs. The goal is to make learning Japanese
                        fun and easy to start.</p>
                </div>
            </div>
        </section>

        <section id="footer-section">
            <div class="footer-container">
                <div class="footer-column">
                    <h3>Learn Japanese</h3>
                    <ul>
                        <li><a href="/hiragana">Learn hiragana</a></li>
                        <li><a href="/katakana">Learn katakana</a></li>
                        <li><a href="/kanji">Learn kanji</a></li>
                        <li><a href="/vocabulary">Learn vocabulary</a></li>
                        <li><a href="/resources">Learn from other resources</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>Explore More</h3>
                    <ul>
                        <li><a href="/practice-hiragana">Practice hiragana</a></li>
                        <li><a href="/practice-katakana">Practice katakana</a></li>
                        <li><a href="/flashcards">Create your own flashcards</a></li>
                        <li><a href="/v1/api-docs">Check API Docs</a></li>
                        <li><a href="/about">About Kitsuno</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>Links</h3>
                    <ul>
                        <li><a href="/privacypolicy">Privacy Policy</a></li>
                        <li><a href="/tos">Terms of Service</a></li>
                    </ul>
                    <h3>Contact Us</h3>
                    <ul>
                        <li><p>kitsunojapanese@aol.com</p></li>
                    </ul>
                </div>
            </div>
        </section>

        <script src="js/welcome.js"></script>
    </body>
</html>
